<%- include('../fragments/header.ejs') %>

    <main>
        <script type="application/javascript" src="js\validationCommon.js"></script>
        <script type="application/javascript" src="js\validationAddUserForm.js"></script>

        <form class="form-add-user" novalidate onsubmit="return validateForm()">
            <h2>Dodaj użytkownika</h2>

            <label for="login">Nazwa użytkownika:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="login" id="login" />
            <span id="errorLogin" class="errors-text"></span>

            <label for="password">Hasło:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="password" id="password" />
            <span id="errorPassword" class="errors-text"></span>

            <label for="role">Rola:</label>
            <select id="role">
                <option value="admin">admin</option>
                <option value="customer">klient</option>
                <option value="menager">menager</option>
            </select>

            <div>
                <p id="errorsSummary" class="errors-text"></p>
                <input class="form-button-submit" type="submit" value="Dodaj użytkownika" />
            </div>
            
        </form>

    </main>

<%- include('../fragments/footer.ejs') %>