<%- include('../fragments/header.ejs') %>

    <main>

        <h2 class="page-title">Koszyk</h2>
        <div class="cart-tables">
            <table class="cart-list">
                <thead>
                    <tr>
                        <th style="width: 20%;"></th>
                        <th style="width: 40%;"></th>
                        <th style="width: 10%;"></th>
                        <th style="width: 20%;"></th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 1</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>39,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 2</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>218,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 3</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>149,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 1</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>39,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 2</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>218,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 3</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>149,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 1</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>39,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 2</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>218,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <ul class="cart-main-info-list">
                                <li>
                                    <label>Produkt 3</label>
                                </li>
                                <li>
                                    <label>id produktu</label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown...
                        </td>
                        <td>149,99</td>
                        <td>
                            <label>Liczba sztuk</label>
                            <div class="product-info-btn-group">
                                <button>-</button>
                                <input value="1" />
                                <button>+</button>
                            </div>
                        </td>
                        <td>
                            <ul class="cart-list-actions">
                                <li>
                                    <a class="list-actions-button-details-cart" href="">Szczegóły</a>
                                </li>
                                <li>
                                    <a class="list-actions-button-delete-cart" href="">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="summary-list-cart">
                <h2>Podsumowanie zamówienia</h2>
                <label>Ilość produktów: </label>
                <label>3</label>
                <label>Do zapłaty: </label>
                <label>389,97</label>
                <button>Zamawiam</button>
                <button>Wyczyść koszyk</button>
            </div>
        </div>
        

    </main>

<%- include('../fragments/footer.ejs') %>
