<%- include('../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="..\js\validationCommon.js"></script>
        <script type="application/javascript" src="..\js\validationContactForm.js"></script>

        <form class="form-contact" novalidate onsubmit="return validateForm();">
            <label class="form-main-label">Formularz kontaktowy</label>
            <div>
                <label for="firstname">Imie:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="firstname" id="firstname" placeholder="2-60 do znaków" />
                <span id="errorFirstname" class="errors-text"></span>

                <label for="lastname">Nazwisko:<abbr>*</abbr></label>
                <input type="text" name="lastname" id="lastname" placeholder="2-60 do znaków" />
                <span id="errorLastname" class="errors-text"></span>

                <label for="email">E-mail:<abbr>*</abbr></label>
                <input type="email" name="email" id="email" placeholder="np. nazwa@domena.pl" />
                <span id="errorEmail" class="errors-text"></span>

                <label for="message">Wiadomość:</label>
                <textarea class="form-message" name="message" id="message"></textarea>
                <span id="errorMessage" class="errors-text"></span>

                <p id="errorsSummary" class="errors-text"></p>

                <input class="form-button-submit" type="submit" value="Wyślij" id="form-input-submit" />

            </div>
        </form>
    </main>

  <%- include('../fragments/footer.ejs') %>