<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Panel zarządzania</h2>
        <div class="dashboard-option-list">
            <a class="list-actions-button-new-product" href="/products/add">Nowy produkt</a>
            <a class="list-actions-button-order" href="/orders">Zamówienia</a>
            <a class="list-actions-button-user-list" href="/users">Użytkownicy</a>
            <a class="list-actions-button-add-user" href="/users/add">Dodaj Użytkownika</a>
        </div>

    </main>

<%- include('../fragments/footer.ejs') %>