<%- include('../fragments/header.ejs') %>

    <main>
        <script type="application/javascript" src="js\validationCommon.js"></script>
        <script type="application/javascript" src="js\validationNewProductForm.js"></script>

        <form class="form-new-product" novalidate onsubmit="return validateForm()">
            <h2>Nowy produkt</h2>

            <div>
                <label for="productName">Nazwa produktu:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="productName" id="productName" />
                <span id="errorProductName" class="errors-text"></span>
            </div>

            <div>
                <label for="price">Cena:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="price" id="price" />
                <span id="errorPrice" class="errors-text"></span>
            </div>

            <label class="new-product-label2" for="img">Zdjęcie:</label>
            <input class="new-product-input1" type="file" id="img" name="img" accept="image/*">

            <label class="new-product-label1" for="description">Opis produktu:<abbr title="required" aria-label="required">*</abbr></label>
            <textarea class="new-product-textarea" type="text" name="description" id="description"></textarea>
            <span id="errordescription" class="errors-text"></span>

            <p id="errorsSummary" class="errors-text"></p>
            <input class="form-button-submit" type="submit" value="Dodaj" />
        </form>

    </main>

<%- include('../fragments/footer.ejs') %>