<%- include('../fragments/header.ejs') %>

    <main>
        <div class="form-main-other">
            <label class="form-main-label">Produkt 2 - taki sobie</label>
            <div class="product-info">
                <img src="https://www.w3schools.com/images/picture.jpg" alt="Mountain">
                <div class="product-info-header">
                    <h3>Produkt nr 1</h3>
                    <h5>47,99 zł</h5>
                    <label>Liczba sztuk</label>
                    <div class="product-info-btn-group">
                        <button>-</button>
                        <input value="1"/>
                        <button>+</button>
                    </div>
                    <div class="product-info-buttons">
                        <button class="product-list-button-buy">Dodaj do koszyka</button>
                        <button class="product-list-button-details">Edytuj</button>
                    </div>
                </div>
                <div class="product-info-details">
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>
        
    </main>

<%- include('../fragments/footer.ejs') %>