<%- include('../fragments/header.ejs') %>

    <main>
        <h2 class="page-title">Produkty</h2>

        <div class="product-option">
            <div class="product-filter">
                <h3>Filtry</h3>
                <h4>Cena</h4>
                <div class="price-filter-details">
                    <input value="od" />
                    <input value="do" />
                </div>
            </div>

            <div class="product-sort">
                <h3>Sortowanie</h3>
                <label class="price-list">
                    <select id="price-list" class="price-list-option">
                        <option value="">cena: od największej</option>
                        <option value="">cena: od najmniejszej</option>
                    </select>
                </label>
            </div>
        </div>


        <div class="product-list">

            <div class="product-list-item">
                <a href="/products/details"><img src="..\images\Product1.png"></a>
                <div class="product-list-item-info">
                    <a href="/products/details">Produkt 2 - taki sobie</a>
                    <div class="price-details">
                        <p>13,99</p>
                        <pp id="currency">zł</pp>
                    </div>
                    <div class="div-add-to-cart-button">
                        <button class="add-to-cart-button" id="add-to-cart-button">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>



           </div>

    </main>

    <%- include('../fragments/footer.ejs') %>