<%- include('../fragments/header.ejs') %>

    <main>
        <h2 class="page-title">Lista uzytkownikow</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>jan.kowalski@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Witkor</td>
                    <td>Wróbel</td>
                    <td>wro.wiktor@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Tomek</td>
                    <td>Mieliń</td>
                    <td>tomcio@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>jan.kowalski@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Witkor</td>
                    <td>Wróbel</td>
                    <td>wro.wiktor@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Tomek</td>
                    <td>Mieliń</td>
                    <td>tomcio@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>jan.kowalski@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Witkor</td>
                    <td>Wróbel</td>
                    <td>wro.wiktor@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Tomek</td>
                    <td>Mieliń</td>
                    <td>tomcio@acme.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegoly</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usun</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <!-- Tu wstaw dodatkowe wiersze -->
            </tbody>
        </table>
        <div>
            <a class="button-add" href="users/add">Dodaj nowego uzytkownika</a>
        </div>
    </main>

<%- include('../fragments/footer.ejs') %>